<%= simple_form_for @business, :html => {:class => "form-horizontal"} do |f| %>

    <legend>Business Form</legend>
    <%= f.input :name, :input_html => {:class => "span6", :size => 20}, :hint => "Enter Business Name" %>
    <%= f.input :address, :input_html => {:class => "span6"} %>
    <%= f.input :photo, :as => :file %>
    <%= f.association :category, :collection => Category.order(:name) %>
    <%= f.input :currency, :as => :select, :collection => all_currencies %>
    <%= f.input :website %>
    <%= f.input :phone %>
    <%= f.input :mobile%>
    <%= f.input :description, :input_html => {:class => 'span6', :rows => 5} %>

    <% unless @business.photo.blank? %>
        <div class="controls"><%= image_tag(@business.photo.thumb.url) %></div>
        <%= f.input :remove_photo, :as => :boolean %>
    <% end %>

    <div class="well form-actions">
        <%= f.button :submit, :class => "form-button btn-primary", "data-loading-text" => "Submitting..." %>
    </div>
<% end %>