<% if @businesses.count > 0 %>
    <%= paginate @businesses %>
    <ul class="list_business row">
      <% @businesses.each do |b| %>
         <li class="span4">
           <h2><%= link_to b.name, business_name_path(b)  %></h2>

           <% unless b.photo.blank? %>
            <div class="photo_index_business"><%= image_tag(b.photo.medium.url)%></div>
           <% end %>

           <p class="p_description_business">
             <%= truncate(b.description, :length => 208) %>
           </p>

           <div class="actions_index_business">
             <%= link_to "View Details >>", business_path(b), {:class => 'btn btn-primary'} %>
           </div>
         </li>
      <% end %>
    </ul>

    <%= paginate @businesses %>
<% else %>
    <p>There are no businesses listed.</p>
<% end %>