<h2><%= @business.name %></h2>

<p><%= @business.description %></p>

<% if current_user and @business.is_owned_by?(current_user) %>
    <div class="subnav">
        <ul class="list_business_actions nav nav-pills">
          <li><%= link_to "Edit", edit_business_path(@business) %></li>
          <li>
            <%= link_to "Delete", business_path(@business),
              :method => :delete, :confirm => "Are you sure" %>
          </li>

          <li>
            <%= link_to "Add Product", new_business_product_path(@business) %>
          </li>

          <li>
            <%= link_to "Add Catalog", new_business_catalog_path(@business) %>
          </li>

          <li>
            <%= link_to "All Catalogs", business_catalogs_path(@business) %>
          </li>

          <li>
            <%= link_to "Manage Branches", business_branches_path(@business) %>
          </li>

          <li>
            <%= link_to "Manage Reviews", business_reviews_path(@business) %>
          </li>
        </ul>
    </div>
<% end %>

<div class="row">
  <div class="tabbable span10">
    <ul class="nav nav-tabs" id="tabs_business_show">
      <li class="active"><%= link_to "All Products", "#all", {"data-toggle"=>"tab", "data-url"=> business_products_path(@business), "data-segment" => 'all'} %></li>
      <li><%= link_to "Branches", "#all", {"data-toggle"=>"tab", "data-url"=>branches_raw_list_path(@business), "data-segment"=>"all"} %></li>
      <li><%= link_to "Reviews", "#reviews", {'data-toggle'=>'tab', 'data-url'=>business_reviews_path(@business), "data-segment"=>"reviews"} %></li>
      <% if @catalogs %>
          <% @catalogs.each do |c| %>
          <li>
            <%= link_to c.name, "#"+c.slug.to_s, {"data-toggle" => "tab", "data-url"=> business_catalog_products_path(@business,c), "data-segment" => c.slug}%>
          </li>
          <% end %>
      <% end %>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="all">
        <%= render_cell :products, :index, {:business=>@business,:products=>@products} %>
      </div>
    </div>
  </div>
</div>