<div class="subnav">
  <ul class="nav nav-pills">
    <% if current_user and @business.is_owned_by?(current_user) %>
        <li><%= link_to 'Edit', edit_business_catalog_path(@business, @catalog) %></li>
        <li><%= link_to 'Delete', business_catalog_path(@business, @catalog), :method => :delete,
                        :confirm => t("app.confirm_delete") %></li>
    <% end %>
    <li><%= link_to "Back to #{@business.name} Catalogs", business_catalogs_path(@business) %></li>
  </ul>
</div>

<h2><%= @catalog.name %></h2>
<p><%= @catalog.description %></p>

<ul class="list-bordered" id="products">
    <%= render_cell :products, :index, {:products=>@products} %>
</ul>

<%= render :partial => 'partials/infinite', :locals => {:segment => business_catalog_products_path(@business, @catalog),
                                                        :container => '#products'} %>