<% if current_user and @business.is_owned_by?(current_user) %>
    <div class="subnav">
      <ul class="nav nav-pills">
        <li><%= link_to 'Edit', edit_business_catalog_path(@business, @catalog) %></li>
        <li><%= link_to "Back to #{@business.name} Catalogs", business_catalogs_path(@business) %></li>
      </ul>
    </div>
<% end %>

<h2><%= @catalog.name %></h2>
<p><%= @catalog.description %></p>

<%= render_cell :products, :index, {:products=>@products} %>