<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @catalog.name %>
</p>

<p>
  <b>Description:</b>
  <%= @catalog.description %>
</p>


<%= link_to 'Edit', edit_business_catalog_path(@catalog) %> |
<%= link_to 'Back', business_catalogs_path(@business) %>