<%= simple_form_for([@business, @branch], :html => {:class=>'form-horizontal'}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :location %>
      <%= f.input :phone %>
      <%= f.input :mobile %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, :class => 'btn btn-primary form-button', "data-loading-text"=>"Submitting..." %>
      <%= link_to "Back to #{@business.name} Branches", business_branches_path(@business), {:class=>'btn btn-primary'}  %>
    </div>
<% end %>