<div class="row-fluid">
  <div class="span6">
      <h2>Resend confirmation instructions</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= f.error_notification %>

        <div class="inputs">
          <%= f.input :email, :required => true %>
        </div>

        <div class="actions">
          <%= f.button :submit, "Resend confirmation instructions", :class => "form-button",
                       "data-loading-text" => "Resending Confirmation Email" %>
        </div>
      <% end %>
  </div>

  <div class="span6">
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>