<%= paginate @products %>
<ul class="list_products_catalog list-bordered">
    <% @products.each do |p| %>
        <li class="clearfix">
          <div class="photo-medium"><%= image_tag(p.photo.medium.url) %></div>

          <div class="name-and-details">
              <h2><%= link_to p.name, product_name_path(p.business.id, p) %></h2>
              <ul class="list_products_details details-box">
                <li class="details">
                    <ul>
                        <li><div class="rateit rating" data-rateit-value="<%= calculate_average_rating(p.reviews) %>" data-rateit-preset="true" data-rateit-readonly="true"></div></li>
                        <li>
                          <% if p.price %>
                            <span class="price"><%= p.price %></span>
                          <% else %>
                            <span class="price-not-available"><%= t 'Price is not Available' %></span>
                          <% end %>
                        </li>
                    </ul>
                </li>

                <li>
                  <ul class="pull-left product-details">
                    <li>
                      <span class="text-category"><%= p.category.name %>:</span>
                      <%= link_to 'View other items in this category', category_products_path(p.category)%>
                    </li>

                    <li>
                      <span class="text-category">Sold by <%= p.business.name %>:</span>
                      <%= link_to 'View all items in this business', business_name_path(p.business) %>
                    </li>
                  </ul>
                </li>
              </ul>
          </div>
        </li>
    <% end %>
</ul>
<%= paginate @products %>