<h2>My Businesses</h2>

<% if @businesses.count > 0 %>
    <ul class="list-business">
        <% @businesses.each do |b| %>
            <li class="row">
              <div class="span2">
                <%= image_tag b.photo.medium.url %>
              </div>

              <div class="pull-left">
                  <% if b.approved? %>
                    <%= link_to b.name, business_name_path(b) %>
                  <% else %>
                    <%= b.name %>
                  <% end %>

                  <ul class="list-user-businesses list-horizontal">
                    <li>Status: <%= b.approved ? 'Approved':'Not Approved' %></li> |
                    <li><%= link_to 'Edit', edit_business_path(b) %></li> |
                    <li><%= link_to 'Delete', business_path(b), :method=>:delete,
                                    :confirm => 'Are You Sure?' %></li>
                  </ul>
              </div>
            </li>
        <% end %>
    </ul>
<% else %>
    <p class="alert"><%= t "app.businesses_empty" %></p>
<% end %>