<div class="row">
    <div class="span3">
        <h2><%= t "View By Category" %></h2>
        <%= render_cell :categories, :index, {:type => @type, :categories => @categories} %>
    </div>

    <div class="span9">
        <ul class="list-bordered" id="products">
            <%= render_cell :products, :index, {:products => @products} %>
        </ul>

        <div id="loadmoreajaxloader" style="display:none;"><center><img src="<%= asset_path 'preloader.gif' %>" /></center></div>
    </div>
</div>

<%= render :partial => 'partials/infinite', :locals => {:segment => "products", :container => '#products'} %>