<!DOCTYPE html>
<html>
<head>
  <title>Jinsei</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Jinsei", root_path, {:class => "brand"} %>

          <ul class="nav">
            <% if user_signed_in? %>
                <li>
                  <%= link_to 'Profile', profile_path %>
                </li>

                <li class="divider-vertical"></li>
                <li class="dropdown" id="menu1">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Businesses<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                        <li><%= link_to 'Register A Business', new_business_path %></li>
                        <li><%= link_to 'Manage Businesses', user_businesses_path %></li>
                    <li><%= link_to 'Browse Businesses', businesses_path %></li>
                  </ul>
                </li>
            <% else %>
                <li class="divider-vertical"><li>
                <li>
                  <%= link_to 'Sign In', login_path %>
                </li>

                <li class="divider-vertical"></li>
                <li>
                  <%= link_to 'Register', register_path %>
                </li>
            <% end %>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Browse Products', products_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to 'Browse Businesses', businesses_path %></li>

            <% if user_signed_in? %>
                <li class="divider-vertical"></li>
                <li>
                   <%= link_to 'Logout', logout_path, :method => :delete %>
                </li>
            <% end %>
          </ul>

          <%= form_tag('/search?t=b', {:method => 'get', :class => 'navbar-search pull-right'}) do %>
            <%= text_field_tag :q, nil, {:class => 'search-query', :placeholder => 'Search'} %>
          <% end %>
        </div>
      </div>
    </div>

    <%= render 'layouts/messages' %>

    <%= yield %>
</div>

<div id="footer">
  <p>Jinsei is a non-profit, non-commercial open project created by <%= link_to 'Ygam Retuta', "http://ygamretuta.me" %></p>
</div>

</body>
</html>
